@font-face {
    font-family: "Monserrat-light";
    src: url("../font/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Monserrat-regular";
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Monserrat-bold";
    src: url("../font/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Monserrat-extrabold";
    src: url("../font/Montserrat-ExtraBold.ttf");
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

button,
input {
    cursor: pointer;
    box-shadow: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 14px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }
}

/* Nav Beginning */

nav {
    padding: 0 175px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    background-color: white;
    box-shadow: 0 3px 8px -9px #000;
    -webkit-box-shadow: 0 3px 8px -9px #000;
}

a {
    text-decoration: none;
}


.logo {
    width: 200px;
    height: auto;
}

.nav_links,
.nav_rechts {
    margin: 10px;
}

.nav_rechts a {
    font-size: 1em;
    color: #329ABF;
    padding: 10px 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #000;
}

.nav_links a {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.nav-toggle-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 120;
}

.nav-toggle-label-span-1,
.nav-toggle-label-span-2,
.nav-toggle-label-span-3 {
    background: #000;
    cursor: pointer;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 5px;
    margin: 5px 0;
    transition: opacity 200ms ease, transform 200ms ease;
}

.nav_rechts1 {
    display: none;
}

.nav-links-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    transform: translateX(100vw);
    transition: transform 0.5s ease;
    z-index: 50;
}

.nav-link {
    font-size: 30px;
    color: #329ABF;
    letter-spacing: 3px;
    margin: 8px 0;
    padding: 29px;
    position: relative;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    transition: 0.8s;
}


#nav-toggle:checked~.nav-links-container {
    transform: translateX(0);
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-1 {
    transform: translateY(15px) rotate(-45deg)
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-2 {
    opacity: 0;
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-3 {
    transform: translateY(-15px) rotate(45deg);
}


@media screen and (max-width: 1300px) {

    nav {
        padding: 0px 130px;
    }

    .logo {
        font-size: 2em;
    }
}

@media screen and (max-width: 900px) {

    .nav_rechts1 {
        display: unset;
        margin-right: 15px;
    }

    .nav_rechts {
        display: none;
    }

    .nav-link:hover {
        color: #000;
    }

    nav {
        padding: 0 30px;
        margin-top: 0px;
    }

    .nav_rechts a {
        font-size: 1em;
        padding: 10px 5px;
    }

    .nav-link::after {
        top: 75px;
    }
}


/* Nav End */

/* Content Start */

.container {
    max-width: 1250px;
    margin: 0px auto;
}

.test {
    width: auto;
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.slogan {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Monserrat-extrabold";
}

.headsl {
    padding-top: 200px;
    font-size: 80px;
    color: white;
    font-weight: 900;
}

.subslogen {
    color: white;
    font-size: 1.7em;
    line-height: 50px;
    padding-top: 100px;
    font-family: "Monserrat-regular";
}

@media screen and (max-width: 1300px) {

    .container {
        max-width: 1000px;
    }

}

@media screen and (max-width: 800px) {

    .container {
        margin: 0px 30px;
    }

    .slogan {
        height: 65vh;
    }

    .test {
        height: 65vh;
    }

    .subslogen {
        font-size: 20px;
        line-height: 26px;
        padding-top: 50px;    
    }

    .headsl {
        padding-top: 125px;
        font-size: 35px;
    }

}

/* Content End */

/* Logo? Start */

.logoN {
    display: flex;
    flex-direction: column;
    color: #000;
    margin: 100px 0px;
}

.logoN span,
.websiteNodig span {
    font-size: 2em;
    color: black;
}

.logoN img {
    width: 80%;
    margin-bottom: 50px;

}

.button-buy {
    padding: 7px 30px;
    background-color: #329ABF;
    border-radius: 4px;
    text-align: center;
    color: white;
    width: 200px;
    font-weight: bolder;
    font-size: 0.8em;
    transition: 0.5s;
    -webkit-appearance: none;
    border: 1px solid;
}

.fontb {
    font-family: "Monserrat-extrabold";
}

.logoN a,
.websiteNodig a {
    align-self: center;
}

.button-buy:hover {
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {

    .logoN span,
    .websiteNodig span {
        margin: 10px 20px;
        text-align: center;
    }
}

/* Logo? End */

/* Website start */

.websiteNodig {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.websiteNodig img {
    width: 80%;
}

/* Website end */

/* Team Start */

.meet {
    text-align: center;
    font-size: 2em;
    margin: 50px auto;
    align-self: center;
    font-family: "Monserrat-extrabold";
}
.team {
    margin-top: 25px;
    justify-content: center;
    display: flex;
}

.naam {
    font-family: "Monserrat-bold";
}

.functie {
    font-family: "Monserrat-regular";
}
.team-blokken {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

.person {
    width: 225px;
    height: 225px;
}

.teamblok {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.teamblok * {
    margin: 5px 0px;
}

/* Team End */

/* Contact Start */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.contact_inputs {
    text-align: center;
}

.button {
    padding: 7px 30px;
    background-color: white;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 0.7em;
    transition: 0.5s;
    margin: 0px auto;
    display: flex;
    -webkit-appearance: none;
}

.button:hover {
    background-color: #329ABF;
    color: white;
}


@media screen and (max-width: 800px) {

    .button-buy {
        margin-top: 50px;
    }

}

/* Input start */

.input-container {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid rgb(156, 156, 156);
    position: relative;
    display: flex;
    align-items: center;
    margin: 40px;
}

.msg-container {
    width: 400px;
    height: 200px;
    align-items: flex-start;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 18px;
    padding: 0px 5px;
    resize: none;
}

.input_label {
    position: absolute;
    left: 5px;
    font-size: 18px;
    color: #000000;
    transition: transform 200ms ease, font-size 200ms ease, color 200ms ease;
    pointer-events: none;
}

.input_underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background: #000;
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scale(0.1);
    transition: transform 200ms ease;
}

.input:focus~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
}

.has-value~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
    color: #000;
}

.input:focus~.input_underline {
    transform-origin: left;
    transform: scale(1);
}


@media screen and (max-width: 800px) {

    .contact {
        height: 100%;
    }

    .input {
        font-size: 15px;
    }

    .input-label {
        font-size: 20px;
    }

    .input_label {
        font-size: 15px;
    }

    .button {
        margin-bottom: 70px;
    }

    .input:focus~label {
        font-size: 15px;
        transform: translate(-5px, -30px);
    }

    .has-value~label {
        font-size: 15px;
        transform: translate(-5px, -30px);
    }

    .input-container {
        width: 200px;
        height: 35px;
        border-bottom: 1px solid #000;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 75px;
    }

}

/* Contact End */

/* Diensten Start */

.bannershop {
    height: 40vh;
    background-image: url(../img/12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shop {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 100px 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.shop span {
    color: #000;
}

.shop svg {
    width: 250px;
    align-self: center;
}

.shop-block {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    margin-top: 100px;
}

.margspan {
    margin-bottom: 33px;
}

.spanv {
    margin-bottom: 9px;
}

.spanc {
    margin-bottom: 9px;
}

.shop-item {
    margin-top: 10px;
    font-size: 3em;
}

.shop-prijs {
    font-size: 2em;
}

.shop-button {
    background-color: #329ABF;
    color: white;
    width: 150px;
    align-self: center;
    border-radius: 10px;
    padding: 3px 10px;
    transition: 1s;
}

.shop-button:hover {
    color: #329ABF;
    background-color: white;
}

.shop-text span {
    display: flex;
    flex-direction: column;
    color: #000;
}

.head-span {
    margin-top: 100px;
    font-size: 3em;
    font-weight: 900;
}

.lower-span {
    margin-top: 75px;
    font-size: 2em;
}

@media screen and (max-width: 800px) {

    .shop {
        align-items: center;
        justify-content: center;
    }

    .shop-button {
        width: 106px;
        font-size: 18px;
        padding: 8px 10px;
    }

    .item-info {
        font-size: 20px;
    }

}

/* Diensten End */

/* Project page */
.bannerproj {
    width: auto;
    height: 100vh;
    width: 100%;
    background-image: url(../img/11.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.project {
    padding-top: 200px;
    height: 100vh;
}

.bannertxt {
    height: 100vh;
}

.bannertext {
    font-size: 80px;
    font-family: "Monserrat-extrabold";
    color: #000;
}

.projecten {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 100px;

}

.smallsquare {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}

.projectbig {
    width: 450px;
    height: 450px;
    margin: 20px;
    background-color: gray;
}

.projectsmall {
    margin: 25px;
    width: 200px;
    height: 200px;
    background-color: grey;
}

.projectsmall:hover {
    opacity: 0.4;
}

.projectbig:hover {
    opacity: 0.4;
}

.modaal a {
    color: white;
    font-size: 20px;
}

.close {
    width: 2em;
    justify-self: end;
    font-size: 5em;
    font-weight: 900;
    transform: translateX(.5em);
    border: 0;
    color: white;
    background-color: transparent;
}

.close:hover {
    color: rgb(255, 0, 0);
} 
.modaal-knop {
    cursor: pointer;
}

.m-Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.84);
    display: grid;
    justify-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

.modaal {
    width: 70%;
    display: grid;
    animation: opkomen 0.2s forwards;
}

.modaal img {
    width: auto;
    max-height: 500PX;

}

@keyframes opkomen {

    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}
@media screen and (max-width: 1300px) {
    .projecten {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {

    .projecten {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectbig, .projectsmall {
        width: 300px;
        height: 300px;
        margin: 25px auto;
    }

     .modaal img {
         width: 100%;
     }

    .modaal {
        width: 100%;
    }

    .bannertext {
        font-size: 60px;
    }
}

.imgtest {
    background-color: #fff;
}
/* Project End */

