@font-face {
    font-family: "Monserrat-light";
    src: url("../font/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Monserrat-regular";
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Monserrat-extrabold";
    src: url("../font/Montserrat-ExtraBold.ttf");
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #23387c;
}

button,
input {
    cursor: pointer;
    box-shadow: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 14px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }
}

/* Nav Beginning */

nav {
    padding: 0 175px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    background-color: white;
    box-shadow: 0 3px 8px -9px #000;
    -webkit-box-shadow: 0 3px 8px -9px #000;
}

a {
    text-decoration: none;
}


.logo {
    width: 200px;
    height: auto;
}

.nav_links,
.nav_rechts {
    margin: 10px;
}

.nav_rechts a {
    font-size: 1em;
    color: #329ABF;
    padding: 10px 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #000;
}

.nav_links a {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9em;
}

.nav-toggle-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 120;
}

.nav-toggle-label-span-1,
.nav-toggle-label-span-2,
.nav-toggle-label-span-3 {
    background: #000;
    cursor: pointer;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 5px;
    margin: 5px 0;
    transition: opacity 200ms ease, transform 200ms ease;
}

.nav_rechts1 {
    display: none;
}

.nav-links-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    transform: translateX(100vw);
    transition: transform 0.5s ease;
    z-index: 50;
}

.nav-link {
    font-size: 30px;
    color: #329ABF;
    letter-spacing: 3px;
    margin: 8px 0;
    padding: 29px;
    position: relative;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    transition: 0.8s;
}


#nav-toggle:checked~.nav-links-container {
    transform: translateX(0);
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-1 {
    transform: translateY(15px) rotate(-45deg)
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-2 {
    opacity: 0;
}

#nav-toggle:checked~.nav-toggle-label .nav-toggle-label-span-3 {
    transform: translateY(-15px) rotate(45deg);
}

@media screen and (max-width: 900px) {

    .nav_rechts1 {
        display: unset;
        margin-right: 15px;
    }

    .nav_rechts {
        display: none;
    }

    .nav-link:hover {
        color: #000;
    }

    nav {
        padding: 0 25px;
        margin-top: 0px;
    }

    .nav_rechts a {
        font-size: 1em;
        padding: 10px 5px;
    }

    .nav-link::after {
        top: 75px;
    }
}

@media screen and (max-width: 1300px) {

    nav {
        padding: 0px 50px;
    }

    .logo {
        font-size: 2em;
    }
}
/* Nav End */

/* Content Start */

.container {
    max-width: 1250px;
    margin: 0px auto;
}

.test {
    width: auto;
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.slogan {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Monserrat-extrabold";
}

.headsl {
    padding-top: 200px;
    font-size: 80px;
    color: white;
    font-weight: 900;
}

.subslogen {
    color: white;
    font-size: 1.7em;
    line-height: 50px;
    padding-top: 100px;
    font-family: "Monserrat-regular";
}

@media screen and (max-width: 800px) {

    .container {
        margin: 0px 30px;
    }

    .subslogen {
        width: 87%;
        font-size: 1.5em;
        line-height: 35px;
        font-weight: 900;
    }
}

/* Content End */

/* Logo? Start */

.logoN {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: 100px;
    margin-bottom: 200px;
}

.logoN span, .websiteNodig span {
    font-size: 2em;
    color: black;
}

.logoN img {
    width: 80%;
    margin-bottom: 50px;

}

.button-buy {
    padding: 7px 30px;
    background-color: #329ABF;
    border-radius: 4px;
    text-align: center;
    color: white;
    width: 200px;
    font-weight: bolder;
    font-size: 0.8em;
    transition: 0.5s;
    -webkit-appearance: none;
    border: 1px solid;
}

.fontb {
  font-family: "Monserrat-extrabold"; 
}

.logoN a, .websiteNodig a {
    align-self: center;
}

.button-buy:hover {
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {
    .logoN span ,.websiteNodig span {
        margin: 10px 20px;
    }
}
/* Logo? End */

/* Website start */

.websiteNodig {
    display: flex;
    flex-direction: column;
}

.websiteNodig img {
    width: 80%;
}

/* Website end */

/* Contact Start */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.contact_inputs {
    text-align: center;
}

.button {
    padding: 7px 30px;
    background-color: white;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 0.7em;
    transition: 0.5s;
    -webkit-appearance: none;
}

.button:hover {
    background-color: #329ABF;
    color: white;
}


@media screen and (max-width: 800px) { 

    .button-buy {
        margin-top: 50px;
    }

}


/* Input start */

.input-container {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid rgb(156, 156, 156);
    position: relative;
    display: flex;
    align-items: center;
    margin: 40px;
}

.msg-container {
    width: 400px;
    height: 200px;
    align-items: flex-start;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 18px;
    padding: 0px 5px;
    resize: none;
}

.input_label {
    position: absolute;
    left: 5px;
    font-size: 18px;
    color: #23387c;
    transition: transform 200ms ease, font-size 200ms ease, color 200ms ease;
    pointer-events: none;
}

.input_underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background: #000;
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scale(0.1);
    transition: transform 200ms ease;
}

.input:focus~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
}

.has-value~label {
    font-size: 16px;
    transform: translate(-5px, -20px);
    color: #000;
}

.input:focus~.input_underline {
    transform-origin: left;
    transform: scale(1);
}


@media screen and (max-width: 800px) {

    .contact {
        height: 100%;
    }

    .input {
        font-size: 15px;
    }

    .input-label {
        font-size: 20px;
    }

    .input_label {
        font-size: 15px;
    }

    .button {
        margin-bottom: 70px;
    }

    .input:focus~label {
        font-size: 15px;
        transform: translate(-5px, -30px);
    }

    .has-value~label {
        font-size: 15px;
        transform: translate(-5px, -30px);
    }

    .input-container {
        width: 200px;
        height: 35px;
        border-bottom: 1px solid #000;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 75px;
    }

}
/* Contact End */

/* Diensten Start */
    .bannershop {
        height: 40vh;
        background-image: url(../img/banner1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .shop {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: 100px 50px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .shop span {
        color: #000;
    }

    .shop svg {
        width: 250px;
        align-self: center;
    }

    .shop-block {
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
        height: 500px;
        background-color: white;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        margin-top: 100px;
    }

    .margspan {
        margin-bottom: 33px;
    }

    .spanv {
        margin-bottom: 9px;
    }

    .spanc {
        margin-bottom: 9px;
    }
    .shop-item {
        margin-top: 10px;
        font-size: 3em;
    }

    .shop-prijs {
        font-size: 2em;
    }

    .shop-button {
        background-color: #329ABF;
        color: white;
        width: 150px;
        align-self: center;
        border-radius: 10px;
        padding: 3px 10px;
        transition: 1s;
    }

    .shop-button:hover {
        color: #329ABF;
        background-color: white;
    }

    .shop-text span {
        display: flex;
        flex-direction: column;
        color: #000;
    }

    .head-span {
        margin-top: 100px;
        font-size: 3em;
        font-weight: 900;
    }

    .lower-span {
        margin-top: 75px;
        font-size: 2em;
    }
/* Diensten End */

/* Project page */
.projectainer {
    width: 100%;
}

  .pro {
    display: grid;
    color: black;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px 0px;
  }

  #projects h2, #projects p {
      text-align: center;
  }

  .box img {
    width: 100%;
  }

  .box h4 {
      margin: 20px;
      font-size: 1.5em;
  }

  .box {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    background: #f2f2f28f;
    padding: 1em 1em;
    text-align: center;
  }

  #projects{
      padding-bottom: 5em;
  }
/* Project End */

